.icon-adobe-illustrator, 
.icon-adobe-photoshop, 
.icon-mac-os, 
.icon-apple-phone, 
.icon-chrome, 
.icon-safari, 
.icon-league-of-legends, 
.icon-terraria, 
.icon-steam, 
.icon-bitcoin, 
.icon-google-play, 
.icon-google-drive, 
.icon-weixing, 
.icon-whatsapp, 
.icon-skype, 
.icon-facebook-messenger, 
.icon-windows-10, 
.icon-visa, 
.icon-amazon, 
.icon-paypal, 
.icon-google-logo, 
.icon-android-os, 
.icon-github, 
.icon-python, 
.icon-facebook, 
.icon-tiktok, 
.icon-weibo, 
.icon---tinder, 
.icon-twitter, 
.icon-spotify, 
.icon-youtube-play, 
.icon-twitch, 
.icon-netflix, 
.icon-flickr, 
.icon-instagram-new, 
.icon-instagram-new-2, 
.icon-selenium-test-automation, 
.icon-stackoverflow, 
.icon-gmail-new, 
.icon-starbucks
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-adobe-illustrator>svg, 
.icon-adobe-photoshop>svg, 
.icon-mac-os>svg, 
.icon-apple-phone>svg, 
.icon-chrome>svg, 
.icon-safari>svg, 
.icon-league-of-legends>svg, 
.icon-terraria>svg, 
.icon-steam>svg, 
.icon-bitcoin>svg, 
.icon-google-play>svg, 
.icon-google-drive>svg, 
.icon-weixing>svg, 
.icon-whatsapp>svg, 
.icon-skype>svg, 
.icon-facebook-messenger>svg, 
.icon-windows-10>svg, 
.icon-visa>svg, 
.icon-amazon>svg, 
.icon-paypal>svg, 
.icon-google-logo>svg, 
.icon-android-os>svg, 
.icon-github>svg, 
.icon-python>svg, 
.icon-facebook>svg, 
.icon-tiktok>svg, 
.icon-weibo>svg, 
.icon---tinder>svg, 
.icon-twitter>svg, 
.icon-spotify>svg, 
.icon-youtube-play>svg, 
.icon-twitch>svg, 
.icon-netflix>svg, 
.icon-flickr>svg, 
.icon-instagram-new>svg, 
.icon-instagram-new-2>svg, 
.icon-selenium-test-automation>svg, 
.icon-stackoverflow>svg, 
.icon-gmail-new>svg, 
.icon-starbucks>svg
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

